@import url(reset.css);
@import url(grid.css);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(colorbox.css);
html, body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	background:#e4e4e4;
	height:100%;
	}
	
/*

GENERAL CSS
***************************************************
***************************************************
*/

/*========== GENERAL HEADINGS ==========*/

.header-1 {
	font-family: 'Oswald', sans-serif;
	font-size:40px;
	margin:0 0 40px 0;
	line-height:1;
	color:#333;
	text-transform:uppercase;
	}
.header-2, .header-3, .header-4 {
	font-family: 'Oswald', sans-serif;
	font-size:35px;
	margin:0 0 20px 0;
	line-height:1;
	color:#333;
	text-transform:uppercase;
	}
.header-3 { font-size:22px; margin:0 0 20px 0; }
.header-4 { font-size:16px; margin:0 0 20px 0; }


/*========== GENERAL LINKS, BUTTONS, LIST & OTHER CSS ==========*/

.link-1 		{ color:#c40000; text-decoration:none; }
.link-1:hover 	{ color:#000; text-decoration:underline; }

.bt-link {
	display:inline-block;
	padding:6px 10px;
	background:#333;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	line-height:1;
	color:#fff;
	text-decoration:none;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px;
	cursor:pointer;
	}
.bt-link:hover {
	color:#333;
	background:#fff;
	-moz-box-shadow: 0px 1px 4px rgba(68,68,68,0.4);
	-webkit-box-shadow:0px 1px 4px rgba(68,68,68,0.4);
	box-shadow: 0px 1px 4px rgba(68,68,68,0.4);
	}

/*----------------------------------*/

.f13{ font-size:13px; color:#333; line-height:20px; }
.f18{ font-family: 'Oswald', sans-serif; font-size:18px; line-height:28px; color:#333; }
p	{ margin-bottom:20px; line-height:18px; }

/*----------------------------------*/

.ul-list-1,
.ul-list-2 { margin:0 10px; list-style-type:none; padding:0px; }
.ul-list-1 li {
	background:url(../assets/images/bullet1.png) no-repeat left 5px;
	margin:8px 0; padding:0 0 0 15px; color:#333;
	}
.ul-list-2 li {
	background:url(../assets/images/bullet2.png) no-repeat left 5px;
	margin:8px 0; padding:0 0 0 12px; color:#333;
	}

/*----------------------------------*/

.separator {
	height:10px;
	background:url(../assets/images/hr-line-bg.png) repeat-x left top;
	clear:both;
	margin-top:10px;
	}
.container_12 .separator { margin-left:10px; margin-right:0px; }
.grid_1 .separator, .grid_2 .separator, .grid_3 .separator, .grid_4 .separator, .grid_5 .separator, 
.grid_6 .separator, .grid_7 .separator, .grid_8 .separator, .grid_9 .separator, .grid_10 .separator,
.grid_11 .separator, .grid_12 .separator { margin-left:0; margin-right:0; }

/*----------------------------------*/

.img-frame {
	background:#fff;
	padding:10px;
	-moz-box-shadow: 0px 1px 4px rgba(68,68,68,0.4);
	-webkit-box-shadow:0px 1px 4px rgba(68,68,68,0.4);
	box-shadow: 0px 1px 4px rgba(68,68,68,0.4);
	text-align:center;
	display:inline-block;
	}
.img-frame.l {
	float:left;
	margin:0 25px 20px 0;
	}
.img-frame.r {
	float:right;
	margin:0 0 20px 25px;
	}
.loading {
	display:block;
	height:80px; width:80px;
	background:#fff url(../assets/images/loading.gif) no-repeat center center;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	border-radius:10px;
	position:absolute;
	z-index:99999;
	}
code {
	display:inline-block;
	border:1px solid #ccc;
	background:#fff;
	padding:5px 10px;
	font-family:"Courier New", Courier, monospace;
	}

/*========== SEPERATOR SHADOWS ==========*/

.sep1-top,
.sep1-bot,
.sep1-top span,
.sep1-bot span, 
.sep2-top, 
.sep2-bot {
	display:block;
	width:100%;
	}

.sep1-top {
	background:url(../assets/images/separators3-top.png) repeat-x left top;
	}
.sep1-bot {
	background:url(../assets/images/separators3-bot.png) repeat-x left bottom;
	}
.sep1-bot span, .sep1-top span{
	height:29px;
	background:url(../assets/images/separators1.png) no-repeat center 0px;
	border-bottom:1px solid #727272;
	}
.sep1-top span{
	border-top:1px solid #796558;
	border-bottom:none;
	background-position:center -31px;
	}
.sep2-bot, .sep2-top {
	height:177px;
	border-bottom:1px solid #e9e5dc;
	background:url(../assets/images/separators2.png) no-repeat center 0px;
	}
.sep2-top {
	border-top:1px solid #e9e5dc;
	border-bottom:none;
	background-position:center -178px;
	}

/*========== COLUMN'S CSS OTHER THAN 960 GRID ==========*/

.col { float:left; }
.col-2-equal { margin-left:-2%; }
.col-2-equal .col { width:48%; margin-left:2%; }

.col-3-equal { margin-left:-2%; }
.col-3-equal .col { width:31.33%; margin-left:2%; }

.col-4-equal { margin-left:-2%; }
.col-4-equal .col { width:23%; margin-left:2%; }


/*========== GENERAL BX-SLIDER SETUP ==========*/

.scroller-module 		{  }
.scroller-wrp 			{ position:relative; overflow:hidden; }
.scroller-bd 			{ position:absolute; top:0px; left:0px; width:2000px; }
.scroll-item			{ float:left; }
/*----------------------------------*/
.bx-prev,
.bx-next {
	background:url(../assets/images/ui-sprites.png) no-repeat;
	cursor: pointer;
	display:inline-block;
	font-size:0px;
	line-height:0px;
	}

.bx-next 		{ background-position:-39px -261px; width:38px; height:30px; }
.bx-next:hover 	{ background-position:-126px -261px; }
.bx-next.disabled { cursor:inherit; opacity:0.5; }

.bx-prev 		{ background-position:0 -261px; width:39px; height:30px; }
.bx-prev:hover 	{ background-position:-87px -261px; }
.bx-prev.disabled { cursor:inherit; opacity:0.5; }
.bx-controls { text-align:center; }

/*----------------------------------*/
.bx-pager {
	text-align:center;
	position:absolute;
	bottom:-60px;
	width:100%;
	z-index:99999;
	}
.bx-pager a {
	display:inline-block;
	background:url(../assets/bxslider/controls/pagerdots.png) no-repeat 0 0;
	width:20px; height:20px;
	font-size:0px; 
	line-height:0px;
	text-indent:-100px;
	overflow:hidden;
	margin:0 2px;
	}
.bx-pager a.pager-active {
	background-position:-20px 0
	}


/*========== GENERAL SCROLL-PANE ==========*/

.jspContainer	{ overflow: hidden; position: relative; }
.jspPane 		{ position: absolute; }
.jspVerticalBar { position: absolute; }
.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }
/*----------------------------------*/
.jspTrack { 
	position: relative; 
	background:none;
	}
/*----------------------------------*/
.jspDragTop,
.jspDragBottom 	{ display:none; }
.jspDrag {
	position:relative;
	top:0;
	right:0px;
	cursor:pointer;
	background:#333333;
	-moz-border-radius:10px; 
	-webkit-border-radius:10px; 
	border-radius:10px;
	opacity:0.8;
	}
.jspDragInner {
	position:relative;
	top:7px;
	margin-bottom:7px;
	width:100%;
	}
/*----------------------------------*/
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0px;
	width: 10px;
	height: 100%;
	}
.jspVerticalBar .jspArrow { height: 16px; }
.jspVerticalBar .jspArrow:focus { outline: none; }
.jspDragTop {}
/*----------------------------------*/
.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10px;
	}
.jspHorizontalBar .jspCap {	float: left; }
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag { float: left; height: 100%; }
.jspHorizontalBar .jspArrow { width: 10px; float: left; height: 100%; }
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner { margin: 0 -3px 0 0; }
.h-scroll {
	width:3000px;
	}


/*========== GENERAL TABS ==========*/
.tabs {
	height:36px;
	border-bottom:3px solid #353535;
	}
.tabs li {
	float:left;
	margin-right:2px;
	}
.tabs li .tab-name {
	display:block;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
	color:#b8b8b8;
	text-transform:uppercase;
	text-decoration:none;
	line-height:1;
	height:18px;
	padding:9px 20px;
	-moz-border-radius:6px 6px 0 0; 
	-webkit-border-radius:6px 6px 0 0; 
	border-radius:6px 6px 0 0;
	background:#353535;
	cursor:pointer;
	opacity:0.6;
	}
.tabs li.current .tab-name{
	border:none;
	background:#353535;
	color:#FFF;
	opacity:1;
	}
.tab-pane-container .tab-pane {
	position:relative;
	background:url(../assets/images/transparent-bg1.png);
	-moz-border-radius:0 0 6px 6px; 
	-webkit-border-radius:0 0 6px 6px; 
	border-radius:0 0 6px 6px;
	padding:20px;
	color:#fff;
	line-height:18px;
	}



/*

TOP SECTION
***************************************************
***************************************************
*/

#header-wrapper {
	background:url(../assets/images/top-bg.png) repeat-x left bottom;
	position:fixed;
	width:100%;
	z-index:9999;
	top:0px;
	left:0px;
	}
#header {
	height:108px; 
	position:relative;
	width:984px;
	}
#header .logo {
	position:absolute;
	top:29px; left:20px;
	}

/*========== NAVIGATION LINKS ==========*/

.navigation-links {
	position:absolute;
	right:20px;
	top:30px;
	}
.navigation-links li {
	float:left;
	margin:0 0 0 1px;
	}
.navigation-links li a:hover,
.navigation-links li a.active {
	background:#333;
	-moz-border-radius:8px; 
	-webkit-border-radius:8px; 
	border-radius:8px;
	color:#fff;
	}
.navigation-links li a {
	display:block;
	font-family: 'Oswald', sans-serif;
	font-size:16px;
	text-transform:uppercase;
	color:#6b6b6b;
	padding:7px 20px;
	cursor:pointer;
	text-decoration:none;
	}

/*
HOME
***************************************************
***************************************************
*/

#home { 
	padding:30px 0 41px 0;
	position:relative;
	}
#home .sep2-bot {
	position:absolute;
	bottom:0px;
	}

/*========== MAIN SLIDE SHOW ==========*/

#home .main-slideshow {
	width:998px;
	height:540px;
	margin:auto;
	position:relative;
	background:url(../assets/bxslider/controls/main-bnr-bg.png) no-repeat center top;
	z-index:2;
	}
.main-slideshow .bx-wrapper {
	margin:auto;
	top:15px;
	}
.main-slideshow #slider { 
	width:914px;
	height:484px;
	background:url(../assets/images/loading.gif) no-repeat center center;
	color:#FFF;
	}
.main-slideshow .slide {
	position:relative;
	width:914px;
	height:484px;
	}
/*----------------------------------*/
.main-slideshow .slide .caption {
	position:absolute;
	bottom:0px;
	overflow:hidden;
	width:100%;
	}
.main-slideshow .slide .cap-hd {
	padding:20px;
	font-family: 'Oswald', sans-serif;
	font-size:25px;
	color:#000;
	background:#ffc000;
	line-height:1;
	display:inline-block;
	margin-bottom:1px;
	text-transform:uppercase;
	position:relative;
	opacity:0;
	}
.main-slideshow .slide .cap-txt {
	font-size:13px;
	color:#FFF;
	background:url(../assets/bxslider/controls/cap-txt-bg.png);
	padding:20px 120px 20px 20px;
	height:60px;
	position:relative;
	margin-bottom:0px;
	opacity:0;
	}
.main-slideshow .slide .cap-txt .more-link {
	position:absolute;
	right:0px; top:0px;
	width:100px;
	height:100px;
	background:url(../assets/bxslider/controls/link-bg.png) no-repeat left top;
	text-indent:-200px;
	overflow:hidden;
	}
.main-slideshow .slide .cap-txt .more-link:hover {
	background-position:-100px 0;
	}
/*----------------------------------*/
.main-slideshow .bx-pager {
	bottom:-55px;
	text-indent:0px;
	}

/*
spend
***************************************************
***************************************************
*/
#spend {
	padding:80px 0;
	position:relative;
	background:#d0d0d0; 
	width:960px;
	}
#spend .sep1-top {
	position:absolute;
	top:0px;
	}
#spend.sep1-bot {
	position:absolute;
	bottom:0px;
	}
#service-list {
	position:relative;
	margin:auto;
	}
	
/*========== VA-ACCORDION ==========*/

#service-list .va-wrapper{
	height:484px;
	width:960px;
	position:relative;
	overflow:hidden;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	background:#fff;
	}
#service-list .va-slice{
	position:absolute;
	width:960px;
	left:0px;
	overflow:hidden;
	background:url(../assets/images/title-bg.jpg) repeat-x;
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.6);
	-webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.6);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.6);
	}
.va-title {
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	font-size:35px;
	color:#333333;
	position:relative;
	width:870px;
	margin:auto;
	height:120px;
	}
.va-content{ 
	display:block; margin:auto; 
	}
/*----------------------------------*/
.va-nav span{
	width:93px;
	height:40px;
	position:absolute;
	text-indent:-9000px;
	cursor:pointer;
	display:none;
	z-index:100;
	background:url(../assets/images/ui-sprites.png) no-repeat;
	}
.va-nav span.va-nav-next{
	background-position:0 0;
	top:auto;
	bottom:-40px;
	}
.va-nav span.va-nav-next:hover {
	background-position:0 -57px;
	}
.va-nav span.va-nav-prev {
	background-position:-94px 0;
	top:-41px;
	}
.va-nav span.va-nav-prev:hover {
	background-position:-94px -57px;
	}
.va-nav span.va-nav-prev.disabled {
	background-position:-94px -114px;
	cursor:inherit;
	}
.va-ctrl {
	position:absolute;
	top:32px;
	width:62px; height:62px;
	cursor:pointer;
	z-index:999;
	background:url(../assets/images/ui-sprites.png) no-repeat 0 -124px;
	}
.va-ctrl:hover {
	background-position:-69px -124px;
	}
/*----------------------------------*/
.active-slice {
	position:relative;
	}
.active-slice .va-content {
	background:#898b92;
	position:absolute;
	height:0;
	width:100%;
	top:0;
	border-bottom:1px solid #f2efea;
	-webkit-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
	overflow:hidden; 
	}
.active-slice .va-ctrl {
	width:34px; height:39px;
	right:0px;
	top:0px;
	background-position:0 -206px;
	}
.active-slice .va-ctrl:hover {
	background-position:-41px -206px;
	}
.active-slice .container_12 {
	padding:10px 0;
	}
/*----------------------------------*/
.active-slice .header-2,
.active-slice .header-3, 
.active-slice .header-4,
.active-slice p {
	color:#fff;
	}
.active-slice .header-2 {
	margin:0 20px 30px 20px;
	}
.active-slice .header-3, 
.active-slice .header-4 {
	margin-bottom:15px;	
	}
.active-slice .separator {
	background:none;
	border-top:1px solid #707070;
	height:20px;
	margin-top:20px;
	}
.active-slice .tab-pane {
	min-height:280px;
	}
.active-slice .tab-pane {
	background:url(../assets/images/transparent-bg.png);
	}

/*========== DATA BOXES ==========*/
.data-box-head {
	background:url(../assets/images/line-bg.png) repeat-x center center;
	text-align:center;
	margin:0 20px 30px 20px;
	}
.data-box-head span {
	display:inline-block;
	padding:9px 20px 10px 20px;
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
	border-radius:6px;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	background:#ffc000;
	text-align:center;
	font-family: 'Oswald', sans-serif;
	font-size:22px;
	color:#333;
	line-height:1;
	text-transform:uppercase;
	}
/*----------------------------------*/
.va-content .scroller-module { height:352px; position:relative; }
.va-content .scroll-item { width:327px; }
.va-content .bx-controls { 
	position:absolute; 
	bottom:0px; 
	left:20px;
	width:944px;
	height:30px;
	background:url(../assets/images/line-bg1.png) repeat-x center center;
	}
.data-box { text-align:center; width:289px; margin:auto; }
.data-box .img-frame { margin-bottom:15px; display:block; }
.data-box .header {
	font-family: 'Oswald', sans-serif;
	color:#fff;
	font-size:22px;
	display:block;
	margin:10px 0;
	text-transform:uppercase;
	}
.data-box .content { line-height:1.4; }
.data-box .bt-link { background:#56422e; color:#ffdc71; }
.data-box .bt-link:hover { background:#fff; color:#000; }
/*----------------------------------*/
.data-box1 {
	padding:0 0 20px 0;
	border-bottom:1px solid #5b5b5b;
	min-height:120px;
	margin-bottom:20px;
	}
.data-box1 .img-frame {
	float:left;
	}
.data-box1 .header,
.data-box1 .content {
	margin-left:140px;
	}
.data-box1 .header {
	font-family: 'Oswald', sans-serif;
	font-size:18px;
	color:#ffd861;
	text-transform:uppercase;
	margin-bottom:5px;
	}
.data-box1 .content {
	color:#fff;
	line-height:1.4;
	}
.data-box1 .bt-link {
	margin-top:10px;
	background:#353535;
	color:#fff;
	}
.data-box1 .bt-link:hover {
	background:#fff;
	color:#333333;
	}

/*
PORTFOLIO
***************************************************
***************************************************
*/

#portfolio { 
	padding:80px 0;
	position:relative;
	background:#ece4cc;
	}
#portfolio .sep2-top {
	position:absolute;
	top:0px;
	left:0px;
	background:url(../assets/images/separators-portfolio.png) no-repeat center top;
	}
#portfolio .sep1-bot {
	position:absolute;
	bottom:0px;
	left:0px;
	}
#portfolio .header-1 { margin-left:20px; margin-right:20px; }

/*========== PORTFOLIO CATEGORIES ==========*/

.prj-category {
	height:36px;
	margin-bottom:40px;
	position:relative;
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
	border-radius:6px;
	background:url(../assets/images/buttons-bg.png) repeat-x left bottom;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	}
.prj-category li {
	float:left;
	margin:0 1px;
	}
.prj-category li a {
	display:block;
	font-family:'Oswald', sans-serif;
	font-size:16px;
	color:#333;
	text-transform:uppercase;
	text-decoration:none;
	line-height:1;
	height:18px;
	padding:8px 20px;
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
	border-radius:6px;
	margin-top:1px;
	cursor:pointer;
	}
.prj-category li.active a {
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
	border-radius:6px;
	background:#333;
	color:#fff;
	}
/*----------------------------------*/
.items-holder {
	min-height:400px;
	margin-right:-38px;
	}
.items-holder li {
	float:left;
	width:289px;
	padding-right:38px;
	}
.items-holder li .thumb {
	outline:none;
	display:block;
	margin-bottom:38px;
	padding:10px;
	width:269px;
	height:185px;
	position:relative;
	background:#fff;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	}
.items-holder li .thumb img {
	margin:auto;
	}
.items-holder li.last {
	padding-right:0px;
	}
	
/*----------------------------------*/

.items-holder li .ctrls {
	position:absolute;
	text-align:center;
	background: url(../assets/images/pr-thumb-hover-bg.png);
	}
.icons {
	overflow:hidden;
	text-indent:-999px;
	line-height:0px;
	font-size:0px;
	display:inline-block;
	height:50px; width:50px;
	vertical-align: middle;
	background:url(../assets/images/ui-sprites.png) no-repeat;
	}
.items-holder li .ctrls .info,
.items-holder li .ctrls .slide-show {
	position:relative;
	background-position:0 -308px;
	cursor:pointer;
	margin:0 5px;
	}
.items-holder li .ctrls .info {
	background-position:-60px -308px;
	}

/*========== PORTFOLIO INFO ==========*/

.prj-holder {
	display:none;
	}
.pr-info {
	width:884px;
	position:relative;
	padding:30px;
	height:390px;
	}
.pr-info .bx-pager { position:absolute; left:0px; bottom:-25px; }
.pr-info .prj-text 		{ position:absolute; top:30px; right:30px; height:388px; width:268px; }
.pr-info .prj-text .header-2 { margin-bottom:30px; }
.pr-info .prj-text .bt-link { position:absolute; right:0px; bottom:0px; }

.prj-slides {
	width:586px;
	height:388px;
	}

/*
ABOUT US
***************************************************
***************************************************
*/

#about-us { padding:80px 0; position:relative;	}
#about-us .header-1 { margin-left:20px; margin-right:20px; }
#about-us .sep2-top { position:absolute; top:0px; left:0px;	}
#about-us .sep1-bot { position:absolute; bottom:0px; left:0px; }
.about-info .img-frame 	{ height:183px; margin-bottom:20px; }
.about-info .header-2 	{ margin-bottom:20px; }


/*
CONTACT US
***************************************************
***************************************************
*/

#contact-us { 
	padding:80px 0;
	position:relative;
	}
#contact-us .sep2-top {
	position:absolute;
	top:0px;
	left:0px;
	}
#contact-us .sep1-bot {
	position:absolute;
	bottom:0px;
	left:0px;
	}
#contact-us .header-1 { margin-left:20px; margin-right:20px; }

/*========== ADDRESS INFORMATION ==========*/

#contact-us .address {
	float:left;
	margin-right:10px;
	width:190px;
	}
#contact-us .address .header-4 {
	margin-bottom:10px;
	}
#contact-us .contactinfo {
	font-family: 'Oswald', sans-serif;
	font-size:17px;
	float:left;
	}
#contact-us .contactinfo li {
	margin-bottom:12px;
	color:#333;
	}
#contact-us .contactinfo .label {
	display:inline-block;
	width:60px;
	text-transform:uppercase;
	}

/*========== LOCATION MAP ==========*/

.location-map .header-2 { margin-bottom:20px; }
.location-map .map { 
	height:203px; margin-bottom:30px;
	padding:10px;
	background:#fff;
	-moz-box-shadow: 0px 1px 4px rgba(68,68,68,0.4);
	-webkit-box-shadow:0px 1px 4px rgba(68,68,68,0.4);
	box-shadow: 0px 1px 4px rgba(68,68,68,0.4);
	text-align:center;
	
	}
	
/*========== GET IN TOUCH FORM ==========*/

.contact-form input.textbox,
.contact-form textarea.msg-textarea  {
	font-family: 'Oswald', sans-serif;
	font-size:18px;
	border:none;
	background:#d2d2d2;
	border:1px solid #a1a1a1;
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
	border-radius:6px;
	}
.contact-form input.textbox:focus,
.contact-form textarea.msg-textarea:focus {
	outline:none;
	border:1px solid #000;
	}
.contact-form .textbox {
	height:47px;
	width:435px;
	padding:0 0 0 18px;
	line-height:1;
	color:#666;
	margin-bottom:20px;
	}
.contact-form .msg-textarea {
	height:178px;
	margin-bottom:20px;
	padding:15px 0 0 18px;
	width:435px;
	color:#666;
	}
.send-msg-button {
	font-family: 'Oswald', sans-serif;
	font-size:18px;
	height:46px; width:177px;
	color:#333;
	cursor:pointer;
	line-height:.8;
	text-transform:uppercase;
	background:url(../assets/images/buttons-bg.png) repeat-x left bottom;
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
	border-radius:6px;
	border:none;
	}
.send-msg-button:hover {
	background:#fff;
	-moz-box-shadow: 0px 1px 3px rgba(68,68,68,0.3);
	-webkit-box-shadow:0px 1px 3px rgba(68,68,68,0.3);
	box-shadow: 0px 1px 3px rgba(68,68,68,0.3);
	color:#333;
	}

/*
COPYRIGHT
***************************************************
***************************************************
*/

.copyright {
	padding:40px 0;
	text-align:center;
	position:relative;
	color:#333;
	}
.copyright-info {
	position:relative;
	z-index:100;
	}
.copyright .sep2-top {
	position:absolute;
	top:0px;
	left:0px;
	height:93px;
	}

/*
GENERAL TYPO SECTION -(YOU CAN REMOVE IT)
***************************************************
***************************************************
*/
#typo { 
	padding:80px 0;
	position:relative;
	}
#typo .sep2-top {
	position:absolute;
	top:0px;
	left:0px;
	}
#typo .sep1-bot {
	position:absolute;
	bottom:0px;
	left:0px;
	}
